/*shared common style*/

body{
    font-family: 'Lato', sans-serif;
}


/* this is banner style*/

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 150px 0px 150px;
    background: rgba(229, 84, 115, 0.10);
}
.banner-heading{
color: #272727;
font-size: 80px;
font-weight: 800;
margin-bottom: 15px;
}

.banner-profile-pic{
    width: 635px;
    height: 800px;
} 

.banner-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;


}

.btn-primary{
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: #E55473;

}

/*featured style secton*/

.featured-title{
    margin-top: 100px;
    padding: 0 600px;
     text-align: center;
     margin-bottom: 20px;
}
.feature-header{
color: #272727;
font-size: 40px;
font-weight: 800;
}

.feature-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin:   0 200px ;
    

}
.f1{
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 78px 0 78px;

} 
.f2{
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 50px 47px;
}

.f3{
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 0 75px;

}

.figure{
    
display: flex;
 color: #272727;
text-align: center;
font-size: 20px;
font-weight: 700;
text-decoration-line: underline;
padding: 0 150px;
gap: 310px;
align-items: center;



}

.support{
    display: flex;
    padding: 128px 240px;
    margin: 128px 240px;
    justify-content: space-around;
 border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
align-items: center;
text-align: center;
}

    /*this is sign section*/
    .sign-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 50px 200px;
         border-radius: 8px;
        background: rgba(229, 84, 115, 0.05);
    }
    .sign-pic{
        width: 318px;
        height: 420px;
       
}
    
    .sign-header{
        
        
       
        color: #272727;
        font-size: 40px;
        font-weight: 800;
    }
    .span{
       color: #E55473; 
    }
    .sign-paragraph{
        margin-top: 24px;
        
    }
    .btn-secondary{
        padding: 20px 43px;
        border-radius: 8px;
        background-color: #E55473;
        border: none;
        color: #FFF;
       font-size: 20px;
       font-weight: 700;

        

    }
    .instragram{
        align-items: center;
        justify-content: space-around;
        padding: 100px 200px;
        margin: o 150px;
       text-align: center;
       
       
       
    }

 .inst-pic{
    width: 300px;
     height: 350px;
     margin-right: 24px;
     
    
 }
 .insta-deatail{
    color: rgba(39, 39, 39, 0.60);
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 48px;

 }
 .inst-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
 }
.bgpic{
    width: 1440px;
    height: 449px;
    background-image: url('image/Rectangle\ 9.png');
    margin: 50px 150px 100px 150px;
    padding: 120px 250px ;
    background-repeat: no-repeat;}
    

.all-about{
    text-align: center;
    padding-right: 500px;
}

.title-bar{
    color: #272727;
font-size: 40px;
font-weight: 800;

}
.desbar{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;

}
.inputbar{
width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
border: none;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
}

.subscrib{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 18px 25px;
    margin: 10px;
    color: #FFF;
    font-weight: 700;
}



/*footer section*/
.footer-container{
    color: #FFF;
    background-color: black;
    text-align: center;
    padding:150px 300px;
    
}

.footer-des{
    color: rgb(168, 167, 167);
}
.footer-header{
    font-size: 50px;
    font-weight: 700;
}

.span1{
    color: #E55473;
}
.copyright{
    color: rgb(66, 65, 65);
}